.App {
  font-family: sans-serif;
  text-align: center;
}

section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 20px;
  /*font-weight: bold;*/
}

#home {
  margin-top: -80px;
  background: #0a192f;
}

#board,
#interview {
  color: #3b3b3c;
  background: #0a192f;
}

.nav {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
  z-index: 2;
  height: 70px;
  min-height: 70px;
  width: calc(100% - 1.5rem);
  background-color: #fff;
  padding: 0 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
}

.nav__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.nav__container__actions {
  display: inline-flex;
  flex-flow: row nowrap;
  padding-left: 50px;
  flex: 1;
}

.active {
  font-weight: bold;
}

ul {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hand-wave {
  display: inline-block;
  transform-origin: 90% 90%;
  animation: wave 5s infinite;
  font-size: 2rem;
}

.cloud {
  position: absolute;
  background: white;
  border-radius: 50px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 60px;
  opacity: 0.8;
  animation: float 20s linear infinite;
}

@keyframes float {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
